#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

p {
  font-weight: bold;
  margin-top: 10px;
  transition: color 0.3s;
}

.task-item {
  transition: color 0.3s;
  color: black;
}

.completed {
  color: grey;
}

.dark-mode {
  background-color: #333;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode .task-item {
  color: white;
}

.dark-mode .completed {
  color: lightgrey;
}

/* li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
} */

button {
  background-color: grey;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: lightgray;
}

input [type='text'] {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius:  5px;
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

h1,p {
  transition: color 0.3s;
}

li {
  margin-bottom: 10px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}